/* SANS: Body */

/* Regular */
@font-face {
  font-family: 'Baton Turbo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./baton/BatonTurboWeb-Regular.woff') format('woff');
  unicode-range: U+000-5FF;
}

/* Regular-Italic */
@font-face {
  font-family: 'Baton Turbo';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./baton/BatonTurboWeb-RegularItalic.woff') format('woff');
  unicode-range: U+000-5FF;
}

/* Bold */
@font-face {
  font-family: 'Baton Turbo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./baton/BatonTurboWeb-Medium.woff') format('woff');
  unicode-range: U+000-5FF;
}

/* SERIF: Heading */

@font-face {
  font-family: 'Brando';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./brando/brando-semibold-v10.eot') format('eot'),
    url('./brando/brando-semibold-v10.woff') format('woff');
  unicode-range: U+000-5FF;
}
